body {
    background-color: #e7e7e7;
    font-family: 'Abel', sans-serif;
}

nav {
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;
    position: relative;
    bottom: 10em;
    /*z-index: 1;*/
}

.bg-container {
    background-color: #ffffff;
    height: 150px;
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    z-index: 1;
    top: 5em;
    opacity: 0.5;
}


.logo {
    position: relative;
    height: 250px;
    z-index: 3;
    background-color: rgba(76, 175, 80, 0)
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 75px;
    text-align: center;
    display: block;
}

.biggerText {
    font-size: 1.75em;
}
main {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 6em;
}
main div:nth-of-type(1) {
    font-size: 4em;
}

main div:nth-of-type(2) {
    font-size: 2.5em;
}
main ul {
    list-style-type: none;
}
