/* Styles associated with NAV */
* {
    background-color: #e7e7e7;
    font-family: 'Abel', sans-serif;
}

nav {
    z-index: 2;
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;
    position: relative;
}

.bg-container {
    z-index: 1;
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    position: static;
    opacity: 1;
}


.logo {
    height: 250px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 75px;
    text-align: center;
    display: block;
}

.biggerText {
    font-size: 1.75em;
}